<p style="color: green"><%= notice %></p>

<% content_for :title, "Uploads" %>

<h1>Uploads</h1>

<%= link_to "New upload", new_upload_path %>
 
<%= search_form_for q, builder: SimpleForm::FormBuilder do |f| %>
  <%= f.input :title_cont, label: false %>
  <%= f.submit 'Go' %>
  <%= link_to 'Reset', request.path, class: 'btn btn-default' %>
<% end %>

<div id="uploads">
  <% uploads.each do |upload| %>
    <p>
      <%= link_to upload.title, upload %>
    </p>
  <% end %>
  <%= paginate uploads %>
</div>

