<p style="color: green"><%= notice %></p>

<%= render upload %>

<div>
  <%= link_to "Edit this upload", edit_upload_path(upload) %> |
  <%= link_to "Back to uploads", uploads_path %>

  <p>
    <%= button_to "Destroy this upload", upload, method: :delete, data: { turbo_confirm: 'Sure?' } %>
  </p>
</div>
